<!-- body wrapper -->
<!-- height="100%" width="100%" -->
<table border="0" cellpadding="0" cellspacing="0" id="backgroundTable">
	<tr>
		<td valign="top" class="bodyContent" align="center">
			<table cellpadding="0" cellspacing="0" width="600" id="templateContainer">
				<!-- dtf Block -->
				<tr>
					<td>
						<table cellpadding="10" cellspacing="0" class="dtf-block-view-online block block-medium" width="600">
							<tr>
								<td>
									<p class="dtf-contentEditable">
										Email not displaying correctly? <a href="VIEWONLINE">View online</a>
									</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- / dtf Block -->
				<!-- dtf Block -->
				<tr>
					<td>
						<table cellpadding="20" cellspacing="0" class="dtf-block-header block" width="600">
							<tr>
								<td width="150">
									<a href="http://example.com">
										<img class="dtf-imageUploadable" src="//placehold.it/150x80" alt="Logo" />
									</a>
								</td>
								<td align="right">
									<h1 class="dtf-contentEditable">Newsletter Title</h1>
									<p class="dtf-contentEditable">Lorem ipsum dolor sit amet</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- / dtf Block -->
				<!-- dtf Block -->
				<tr>
					<td>
						<table cellpadding="20" cellspacing="0" class="dtf-block-intro dtf-changeable bg-blue block block-large" width="600">
							<tr>
								<td align="center">
									<h2 class="dtf-contentEditable">
										Lorem ipsum
										<br/> dolor sit amet,
										<br/> consectetur adipisicing elit
									</h2>
								</td>
							</tr>
							<tr>
								<td align="center">
									<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td align="center" valign="middle" class="cta-button">
												<p class="dtf-contentEditable">
													<a href="http://CTA_TARGET" target="_blank">Read more...</a>
												</p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- / dtf Block -->
				<!-- dtf Block -->
				<tr>
					<td>
						<table cellpadding="20" cellspacing="0" class="dtf-block-2cols block block-xsmall" width="600">
							<tr>
								<td width="270">
									<img class="dtf-imageUploadable" src="//placehold.it/260x200" alt="Image 1" />
									<p class="dtf-contentEditable mt20">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ipsa quis recusandae, rem modi aperiam et odit cum debitis facilis numquam vel dolore ipsam provident accusamus, labore ad ullam quia.
									</p>
								</td>
								<td width="270">
									<img class="dtf-imageUploadable" src="//placehold.it/260x200" alt="Image 2" />
									<p class="dtf-contentEditable mt20">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ipsa quis recusandae, rem modi aperiam et odit cum debitis facilis numquam vel dolore ipsam provident accusamus, labore ad ullam quia.
									</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- / dtf Block -->
				<!-- dtf Block -->
				<tr>
					<td>
						<table cellpadding="20" cellspacing="0" class="dtf-block-quote block block-medium bg-dark-grey" width="600">
							<tr>
								<td>
									<p class="dtf-contentEditable quote">
										&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, saepe animi voluptates eum amet labore...&rdquo;
									</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- / dtf Block -->
				<!-- dtf Block -->
				<tr>
					<td>
						<table cellpadding="20" cellspacing="0" class="dtf-block-text-image block block-xsmall" width="600">
							<tr>
								<td width="270">
									<img class="dtf-imageUploadable" src="//placehold.it/270x200" alt="Image 2" />
								</td>
								<td width="270" valign="top">
									<p class="dtf-contentEditable">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ipsa quis recusandae, rem modi aperiam et odit cum debitis facilis numquam vel dolore ipsam provident accusamus, labore ad ullam quia.
									</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- / dtf Block -->
				<!-- dtf Block -->
				<tr>
					<td>
						<table cellpadding="10" cellspacing="0" class="dtf-block-footer block block-medium" width="600">
							<tr>
								<td>
									<p class="dtf-contentEditable">
										Don't want to receive our emails anymore? <a href="UNSUBSCRIBE">Unsubscribe</a>
									</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- / dtf Block -->
			</table>
		</td>
	</tr>
</table>
<!-- / body wrapper -->
